version: '3.0'
services:
  postgres:
    image: postgres:alpine
    container_name: tdd-todo-app
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "password"
      POSTGRES_DB: tdd_todo_app
    volumes:
      - postgres_data:/var/lib/postgresql/data
    
volumes:
  postgres_data:
